[submodule "steel-etl"]
	path = steel-etl
	url = git@github.com:SteelCompendium/steel-etl.git
	branch = main
[submodule "v2"]
	path = v2
	url = git@github.com:SteelCompendium/v2.git
	branch = main
[submodule "steelCompendium.github.io"]
	path = steelCompendium.github.io
	url = git@github.com:SteelCompendium/SteelCompendium.github.io.git
	branch = main
[submodule "compendium"]
	path = compendium
	url = git@github.com:SteelCompendium/compendium.git
	branch = main
[submodule "draw-steel-elements"]
	path = draw-steel-elements
	url = git@github.com:SteelCompendium/draw-steel-elements.git
	branch = develop
[submodule "statblock-adapter-gl-pages"]
	path = statblock-adapter-gl-pages
	url = git@github.com:SteelCompendium/statblock-adapter-gl-pages.git
	branch = main
[submodule "data-sdk-npm"]
	path = data-sdk-npm
	url = git@github.com:SteelCompendium/data-sdk-npm.git
	branch = v3
[submodule "data-gen"]
	path = data-gen
	url = git@github.com:SteelCompendium/data-gen.git
	branch = v3
